body {
    background-color: #f2f2f2;
    font-family: 'Barlow', sans-serif;
}

footer {
    background-color: #3c3b3a;
    color: white;
}

nav {
    background-color: #3c3b3a;
    color: white;
}

.president {
    background-color: #3c3b3a;
    color: white;
}

p {
    font-weight: 300;
}