/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************************************
                        DEFAULTS
*******************************************************************/

html {
    background-color: #ffff;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

h1{
    font-size: 2.2em;
    font-weight: 700;
    
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

h2{
    font-size: 1.7em;
    font-weight: 600;
   
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.italic h2{
    font-style: italic;
}

h3{
    font-size: 1.3em;
    font-weight: 400;
    color: #26a682;
    margin: 1rem;
}

p {
    font-weight: 300;
    line-height: 1.8em;
    
    padding: 0 1rem 1rem;
}

.thanks{
    font-size: 3.1em;
    font-weight: 600;
    text-align: center;
    margin: unset;
    padding: 1rem 1rem 1rem;
}

.italic{
    background-color: #f2f2f2;
}


.green{
    color: #26a682;
    font-weight: 400;
}
/* styling the buttons */
button{
   margin: 20px;
   padding: 10px 20px;
   background-color: #26a682;
   color: #f2f2f2;
   text-align: center;
   border-radius: 25px;
   font-weight: 600;
   font-size: larger;
   border: none;
   box-shadow: 5px 5px 20px grey;
}

/* styling header call to action */
.headerbutton{
    width: 85%;
    height: fit-content;
    font-size: x-large;
}

/* styling the footer */
footer {
    background-color: #3c3b3a;
    color: #f2f2f2;
    text-align: center;
}

footer img{
    padding: 0 5px;
    margin-bottom: 15px;
}


/* styling the block of content discussing the president on home page */
.president {
    background-color: #3c3b3a;
    color: #f2f2f2;
    
}

.president h2{
    text-align: center;
}

.president span{
    padding-bottom: 1em;
}

.center {
   text-align: center;
}

/* making the photo of the president into a circle */
.clip-me{
    clip-path: circle(40%);
}





/*******************************************************************
                Displaying header activies as grid
*******************************************************************/

.headeractivities{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.headerbutton{
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.bowling {text-align: center;}
.rockclimbing {text-align: center;}
.fitness {text-align: center;}
.indoor {text-align: center;}

/*******************************************************************
                    STYLING NAVIGATION
*******************************************************************/
nav {
    background-color: #3c3b3a;
    color: #f2f2f2;
}

nav ul{
    list-style-type: none;
    text-align: center;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 18px;
}

nav ul a{
    color: #f2f2f2;
    text-decoration: none;
    margin: 0.5rem;
    display: block;
}

.logo {text-align: center;}

.current {
    font-weight: 600;
}
/*******************************************************************
                    ABOUT PAGE STYLE
*******************************************************************/
.grey{
    background-color: #f2f2f2;
}

.banner{
    background-color: #3c3b3a;
    text-align: center;
    color: #f2f2f2;
    height: max-content;
    padding-top: 20px;
}

.banner button {
    box-shadow: none;
}

.banner span{
    font-size: large;
    font-weight: 400;
}

.brands img{
    padding-top: 10px;
    padding-bottom: 10px;
}

.brands{
    text-align: center;
}

/* adding background images */
.about{
     background: 
     linear-gradient(
      rgba(38, 166, 130, 0.6), 
      rgba(38, 166, 130, 0.6)
    ),
    /* bottom, image */
    url("../images/about.jpg");
    color: #f2f2f2;
    background-position: center;
    height: 6em;
    text-align: center;
}

.about h1{
    padding-top: 1em;
    padding-bottom: 1em;
}

.services{
    background: 
    linear-gradient(
        rgba(38,166,130,0.6),
        rgba(38,166,130,0.6)
    ),
    url("../images/services.jpg");
    color: #f2f2f2;
    background-position: cover;
    height: 6em;
    width: auto;
    text-align: center;
}

.services h1{
    padding-top: 1em;
    padding-bottom: 1em;
}

/*******************************************************************
                    CONTACT PAGE STYLE
*******************************************************************/
.headercontent img{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/* styling the form */
.contact{
    background-color: #26a682;
    color: #f2f2f2;
    border-radius: 15px;
    margin: 5px 1.5em 20px 1.5em;
}

form{
    padding: 1em 15px;
}

form input{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    height: 2em;
    width: 95%;
    border-radius: 25px;
    border: none;
    padding-left: 1em;
}

form textarea{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 95%;
    border-radius: 15px;
    border: none;
    padding-left: 1em;
    padding-top: 0.5em;
}

form input:last-child{
    background-color: #3c3b3a;
    color: #f2f2f2;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.location{
    padding-bottom: 20px;
}
.location h3{
    color: #3c3b3a;
}

.location span{
    margin-left: 1rem;
    line-height: 2em;
    font-weight: 300;
}

/*******************************************************************
                    MEDIA QUERIES
*******************************************************************/

/* these are the last elements of the css */

@media screen and (min-width:719px){
    /* setting the font size for the tablet version */
    html{ font-size: 1.4rem;}
    h1{ font-size: 4rem;}
    h2{ font-size: 2.2rem;}
    h2 .thanks{ font-size: 3.1rem;}
    h3{ font-size: 1.7rem;}

    /* styling the navigation using flex to make all the elements sit next to each other */
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        margin-right: 2rem;
    }

    nav ul li{
        margin-right: 1rem;
    }

    /* pushing the logo to the left using margin auto */
    .logo{
        margin-right: auto;
        margin-left: 2rem;
    }  
}